<html>
  <head>
    <link rel="stylesheet" href="../layouts../views./assets/stylesheets/style.css">
  </head>
  <body>
    <div class = "searchline">
      <img src="img/Zoom.png" class="img1">
      <input type = "text" placeholder="Поиск..." class="por1">
      <button class="but1">Поиск</button>
    </div>
    <div class = "chats">
      <div class="chat">
        <img src="img/circle.png" class="img2">
        <div>
          <h2 class="chatname">Название</h2>
          <p class="lastmessage">Последнее сообщение</p>
          <hr class="btfl">
        </div>
      </div>
      <div class="chat">
        <img src="img/circle.png" class="img2">
        <div>
          <h2 class="chatname">Название</h2>
          <p class="lastmessage">Последнее сообщение</p>
          <hr class="btfl">
        </div>
      </div>
      <div class="chat">
        <img src="img/circle.png" class="img2">
        <div>
          <h2 class="chatname">Название</h2>
          <p class="lastmessage">Последнее сообщение</p>
          <hr class="btfl">
        </div>
      </div>
      <div class="chat">
        <img src="img/circle.png" class="img2">
        <div>
          <h2 class="chatname">Название</h2>
          <p class="lastmessage">Последнее сообщение</p>
          <hr class="btfl">
        </div>
      </div>
    </div>
  </body>
</html>