<html>
  <head>
    <link rel="stylesheet" href="../layouts../views./assets/stylesheets/style.css">
  </head>
  <body>
    <div class = "tophead">
      <img src="img/arrow.png" class="imgarrow">
      <img src="img/circle.png" class="imgprof">
      <div class="block1">
        <h3 class="chatname">Имя Фамилия</h3>
        <p class="activity">Активность</p>
      </div>
    </div>
    <div class = "maininfo">
      <h2 class="account">Информация об аккаунте</h2>
      <div class="">
        <div>
          <h2 class="chatname">Почта</h2>
          <p class="lastmessage">Нажмите, чтобы изменить почту</p>
          <hr class="btfl">
        </div>
      </div>
      <div class="">
        <div>
          <h2 class="chatname">ID</h2>
          <p class="lastmessage">Нажмите, чтобы изменить ID</p>
          <hr class="btfl">
        </div>
      </div>
    </div>

    <div class = "settings">
      <h2 class="account">Настройки</h2>
      <div class="">
        <div>
          <h2 class="chatname">???</h2>
          <hr class="btfl">
        </div>
      </div>
      <div class="">
        <div>
          <h2 class="chatname">???</h2>
          <hr class="btfl">
        </div>
      </div>
      <div class="">
        <div>
          <h2 class="chatname">???</h2>
          <hr class="btfl">
        </div>
      </div>
      <div class="">
        <div>
          <h2 class="chatname">???</h2>
          <hr class="btfl">
        </div>
      </div>
    </div>
  </body>
</html>